<div class="jumbotron">
    <h1>Exporter to Word/Excel/PDF from Classes/DataTable/CSV/JSON</h1>
    <p class="lead">Exporter is a free framework for exporting to Word/Excel/PDF from Classes/DataTable/CSV/JSON</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Create a project, add the NuGet package from <a href='https://www.nuget.org/packages/ExporterWordExcelPDF/' target="_blank">https://www.nuget.org/packages/ExporterWordExcelPDF/</a> 
        and then use the code
        <pre><code>

export=new ExportExcel2007<Person>();
data = export.ExportResult(new List<Person>() { p });
File.WriteAllBytes("a.xlsx", data);
Process.Start("a.xlsx");

//or with Factory
data= ExportFactory.ExportDataJson(dataJson, ExportToFormat.Excel2007);
File.WriteAllBytes("bJson.xlsx", data);
Process.Start("bJson.xlsx");
            </code></pre>
        </p>
        <p><a class="btn btn-default" href="ignatandrei.github.io/Exporter">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Code/Tutorial</h2>
        <p>Exporter is free code source- see on GitHub on <a class="btn btn-default" href="http://github.com/ignatandrei/Exporter">http://github.com/ignatandrei/Exporter</a></p>
        <p><a class="btn btn-default" href="http://github.com/ignatandrei/Exporter">Learn more &raquo;</a>
        </p>

        <p>Tutorials on GitHub wiki <a class="btn btn-default" href="https://github.com/ignatandrei/Exporter/wiki">https://github.com/ignatandrei/Exporter/wiki</a></p>
        <p><a class="btn btn-default" href="https://github.com/ignatandrei/Exporter/wiki">Learn more &raquo;</a>
        </p>

        <p>Video tutorial at YouTube playlist  <a class="btn btn-default" href="https://www.youtube.com/playlist?list=PL4aSKgR4yk4MqsH5M-f1f5YLVG-nwr4FG">https://www.youtube.com/playlist?list=PL4aSKgR4yk4MqsH5M-f1f5YLVG-nwr4FG</a></p>
        <p>
            <a class="btn btn-default" href="https://www.youtube.com/playlist?list=PL4aSKgR4yk4MqsH5M-f1f5YLVG-nwr4FG">Learn more &raquo;</a>
        </p>
Export To Word/Excel/PDF
    </div>
    <div class="col-md-4">
        <h2>Demo</h2>
        <p>For your convenience , you can try it from here to export data</p>
        <p><a class="btn btn-default" href="~/Home/ExportData">Learn more &raquo;</a></p>
    </div>
</div>
